.app-wrapper {
  position: relative;
  height: 100vh;
}

.app-canvas {
  background-color: rgb(250, 250, 250);
  position: absolute;
  left: 0px;
  top: 0px;
}

.toolbox-wrapper {
  display: flex;
  justify-content: center;
  z-index: 10;
  padding-top: 5px;
  background-color: red;
}

.tool-props-wrapper {
  z-index: 10;
  position: absolute;
  top: 5px;
  left: 5px;
}

/* .map-canvas {
  background-color: rgba(45, 45, 45, 0.164);
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 10;
} */